---
import '../styles/global.css';

const pageTitle = "About Me";

const identity = {
  firstName: "Itsuki",
  country: "Japan",
  occupation: "Web Developer",
  hobbies: ["Playing games", "Reading books", "Napping all day"],
};

const skills = ["C++", "Unreal Engine", "HLSL", "Blender"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>

  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>

    <h1>{pageTitle}</h1>
    <h2>Welcome to my about page!</h2>
    <p>Creating video games is my passion!</p>

    <h3>identity</h3>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>I was born and raised in {identity.country}. I work as a {identity.occupation}</li>
      {identity.hobbies.length >= 2 &&
        <li>My hobbies include: {identity.hobbies.join(", ")}</li>
      }
    </ul>
    <p>My Skills</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>I'm so happy to be learning Astro!</p>}
    {finished && <p>I almost finished this tutorial!</p>}
    {goal === 3 ? <p>MY goal is to finish in 3 days</p> : <p>It's not my actual goal</p>}
  <body>
</html>